<h1>Hi, {{user}}, and welcome to your budget dashboard</h1>

{{#each statements}}

<div class="statement">
  <div>
    <p>your income is: {{ this.income }}</p>
    <p>your savings: {{ this.savings }}</p>
    <p>total expenses: {{ totalExpenses this.expensefields}}</p>
    <!--<p>current balance: {{ this.remainingbalance}}</p>-->
  </div>

<form action="/dashboard/expensefield" method="post">
  <input name="groceries" placeholder="spent on groceries">
  <input name="utilities" placeholder="spent on utilities">
  <input name="entertainment" placeholder="spent on entertainment">
  <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit">+</button>
</form>

    {{#each this.expensefields}}
      <div>
        <p>you spent on groceries: {{ this.groceries }}</p>
        <p>you spent on utilities: {{ this.utilities }}</p>
        <p>you spent on entertainment: {{ this.entertainment }}</p>
      </div>
    {{/each}}
</div>
{{/each}}

<form action="/dashboard" method="post">
  <input name="income" placeholder="what's your statement for this month?">
  <input name="savings" placeholder="your savings">
  {{!-- <input name="groceries" placeholder="money spent on groceries">
  <input name="utilities" placeholder="money spent on utilities">
  <input name="entertainment" placeholder="money spent on entertainment"> --}}
  <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit">+</button>
</form>


