<h1>Hi, {{user}}, and welcome to your budget dashboard</h1>

{{#each statements}}

<div class="statement">
  <div>
    <p>your income is: {{ this.income }}</p>
    <p>your savings: {{ this.savings }}</p>
    <p>total expenses: {{ totalExpenses this.expensefields}}</p>
    <p>current balance: {{ remainingBalance this}}</p>
  </div>

<form action="/dashboard/expensefield" method="post">
  <input name="groceries" placeholder="spent on groceries">
  <input name="utilities" placeholder="spent on utilities">
  <input name="entertainment" placeholder="spent on entertainment">
  <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit">+</button>
</form>

    {{#each this.expensefields}}
      <div>
        <p>you spent on groceries: {{ this.groceries }}</p>
        <p>you spent on utilities: {{ this.utilities }}</p>
        <p>you spent on entertainment: {{ this.entertainment }}</p>
      </div>
    {{/each}}
</div>
<div id="{{this._id}}"></div>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Amount'],
  //['Income', {{ this.income }}],
  ['Groceries', {{ totalGroceriesExpenses this.expensefields }}],
  ['Utilities', {{ totalUtilitiesExpenses this.expensefields }}],
  ['Entertainment', {{ totalEntExpenses this.expensefields }}],
  ['Savings', {{ this.savings }}]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById("{{this._id}}"));
  chart.draw(data, options);
}
</script>
{{/each}}

<form action="/dashboard" method="post">
  <input name="income" placeholder="what's your statement for this month?">
  <input name="savings" placeholder="your savings">
  <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit">+</button>
</form>
