<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@600&family=Courgette&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/32ebbe4a5f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/dashboard.css" />

<ul>
 <li><a href="https://www.england.nhs.uk/supporting-our-nhs-people/how-to-guides/financial-wellbeing/financial-wellbeing-support/">UK Financial Wellbeing Support</a></li>
  <li><a href="https://www.usa.gov/disaster-help-food-housing-bills">US Financial Support</a></li>
    <li><a href=" https://financebuzz.com/ways-to-make-extra-money?utm_source=GoogleAdWords&utm_medium=paid-search-g&utm_campaign=SideHustle_EasyMoney_1138479818_59394857899&utm_content=294342832927&utm_term=how%20to%20earn%20extra%20money&mt=e&device=c&devicemodel=&targetid=kwd-33672711&target=&keyword=how%20to%20earn%20extra%20money&campaignid=1138479818&adgroupid=59394857899&gclid=EAIaIQobChMIstyX5a7Z7wIVs-y1Ch1D1wh6EAAYBCAAEgL-MfD_BwE">How To Earn Extra Money</a></li>
     <li><a href="https://www.dllr.state.md.us/finance/consumers/frcovid.shtml">COVID-19 Financial Relief</a></li>
      <li style="float:right;color:aqua;"><a class="logout" href="/login">Log Out</a></li>
</ul>

<img src="http://s15.postimage.org/kozhy0eon/pajaro.gif" id="bird" class="bird1">
<h1>{{user}}'s Budgie Dashboard</h1> 
{{!-- <img src="img/favpng_bird-animation-parakeet-budgerigar.png" alt="Budgie"> --}}

 <form action="/dashboard" method="post">
{{!-- <select name="month" id="month">
  <option value="Month">Month</option>
  <option value="Jan">January</option>
  <option value="Feb">February</option>
  <option value="Mar">March</option>
  <option value="Apr">April</option>
  <option value="May">May</option>
  <option value="Jun">June</option>
  <option value="Jul">July</option>
  <option value="Aug">August</option>
  <option value="Sep">September</option>
  <option value="Oct">October</option>
  <option value="Nov">November</option>
  <option value="Dec">December</option>
</select> --}}

 <i class="far fa-calendar-alt"></i><input name="month" placeholder="Month" class="border incomeForm" >
  <i class="far fa-money-bill-alt"></i><input name="income" placeholder="Income" class="border incomeForm">
  <i class="fas fa-piggy-bank"></i><input name="savings" placeholder="Your savings" class="border incomeForm">
  <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit"><i class="fas fa-plus"></i></button>
</form>

{{#each statements}}


<div class="statement">
  <div class="expenseContainer">
    <p>Month: {{ this.month }}</p>
    <p>Your Savings: ${{ this.savings }}</p>
    <p>Total Expenses: ${{ totalExpenses this.expensefields}}</p>
    <div>
      <form action="/dashboard/expensefield" method="post" class="expenseInput">
      <div>
      <i class="fas fa-shopping-cart"></i>
        <input name="groceries" placeholder="Groceries" class="border">
        <button type="submit"><i class="fas fa-arrow-right"></i></button>
      </div>
      <div>
        <i class="fas fa-home"></i>
        <input name="utilities" placeholder="Utilities" class="border">
        <button type="submit"><i class="fas fa-arrow-right"></i></button>
        </div>
        <div>
        <i class="fas fa-music"></i>
        <input name="entertainment" placeholder="Entertainment" class="border">
        <button type="submit"><i class="fas fa-arrow-right"></i></button>
        <input type="hidden" name="id" value="{{this._id}}">
        </div>
      </form>
    </div>
</div>

    {{#each this.expensefields}}
      {{!-- <div>
        <p>you spent on groceries: {{ this.groceries }}</p>
        <p>you spent on utilities: {{ this.utilities }}</p>
        <p>you spent on entertainment: {{ this.entertainment }}</p>
      </div> --}}
    {{/each}}

<div id="{{this._id}}" class="piechart"></div>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);


// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Amount'],
  ['Current Balance', {{ remainingBalance this }}],
  ['Groceries', {{ totalGroceriesExpenses this.expensefields }}],
  ['Utilities', {{ totalUtilitiesExpenses this.expensefields }}],
  ['Entertainment', {{ totalEntExpenses this.expensefields }}],
  ['Savings', {{ this.savings }}]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title': 'Monthly Expenses', 
      'width':550, 
      'height':400,
      'chartArea': {'width': '110%', 'height': '80%'}, 
      is3D: true, 
      right:70, 
      pieSliceText:'value', 
      backgroundColor: { fill:'transparent' },
      pieSliceTextStyle: {color: 'black'},
  };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById("{{this._id}}"));
  chart.draw(data, options);
}
</script>
  <div class="rightSide">
    <p>Your Income Is: ${{ this.income }}</p>
    <p>Current Balance: ${{ remainingBalance this}}</p>
  </div>
</div>
{{/each}}

<div class="videos">
<iframe width="400" height="215" src="https://www.youtube.com/embed/iPA7VWKZJ2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="400" height="215" src="https://www.youtube.com/embed/a1l3xsBB1lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="400" height="215" src="https://www.youtube.com/embed/aV7T9Qw0gfk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
